@import "../../styles/common";

common-section {
  display: block;
  overflow: hidden;

  & > fieldset {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;

    & > legend {
      position: relative;
      width: 100%;
      @include heading-styles();
      & > h2 {
        padding: $padding-mid;
        width: 100%;
      }
    }

    & > *:not(legend) {
      padding: $padding-large;
    }
  }

  margin-top: $padding-x-large;
  margin-bottom: $padding-x-large;
}
