
@import "./variables";
@import "./mixins";
@import "./gradients";

@mixin heading-gradient() {
  @include background-image-x(
    linear-gradient-x(325deg, $page-background 0, $page-background 50px, transparent 250px, transparent 100%),
    linear-gradient-x(180deg, $heading-bg-primary 0, $heading-bg-secondary 100%)
  );
}

@mixin heading-styles() {
  color: white;
  @media screen and (max-width: $responsive-cutoff-max) {
    text-shadow: 0 0 2px rgba(0,0,0,.75);
  }

  display: block;
  @include border-radius(3px);
  @include heading-gradient();
  border-right: none;
  // &:before {
  //   content: " ";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   width: 500px;
  //   @include linear-gradient-x(145deg, transparent 0, transparent 15%, $page-background 85%, $page-background 100%);
  // }
}
