@import "./styles/common";
@import "./styles/core";

html {
  display: block;
}

body {
  padding: 0;
  margin-top: $padding-x-large;
  position: relative;
  display: block;
  background: $page-background;

  @media print {
    width: 9.5in;
  }

  & > router-view {
    display: block;
    position: relative;

    @media screen and (min-width: $responsive-cutoff-min) {
      width: $responsive-cutoff-width;
      left: 50%;
      margin-left: $responsive-cutoff-width / -2;
    }
    @media screen and (max-width: $responsive-cutoff-max) {
      width: 100%;
      left: 0;
      margin: 0;
    }
  }
}
