@import "./styles/common";
@import "./styles/core";

html {
  display: block;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin-top: $padding-x-large;
  position: relative;
  display: block;
  background: $page-background;

  @media print {
    width: 9.5in;
  }

  & > router-view {
    display: block;
    position: relative;

    @media screen and (min-width: 1050px) {
      width: 1000px;
      left: 50%;
      margin-left: -500px;
    }
    @media screen and (max-width: 1049px) {

      width: 100%;
      left: 0;
      margin: $padding-large;
    }
  }
}
